@model List<QCarInsurance.Models.Customer>

@{ 
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@{ 
    foreach (var customer in Model)
    {
        <h2><a href="/customer/details/@customer.Id">@customer.FirstName @customer.LastName </a></h2>
    }
}
<a href="/customer/add">Add Customer</a>